<html>
  	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  		
  		<style>
			{% include "css/main.css" %}
		</style>
		  		  		
  	</head>
  
	<body>
		<div class="container-fluid new-task-panel">
			<div class="row">
				<div class="col-md-12">
					<form method="post" id="task-form" enctype="multipart/form-data">
					  <div class="form-group">
					    <label>任务名称：</label>
					    <input class="form-control" placeholder="不超过32个字符" name="task-title">
					  </div>
					  <div class="form-group">
					    <label>脚本文件</label>
					    <input type="file" name="task-script-file" accept=".py">
					  </div>
					</form>
					<button class="btn btn-default" id="submit-btn">提交</button>
				</div>
			</div>
		</div>
						
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		
		<script>
		
			$(function(){
				
				$("#submit-btn").on("click", function(){
					
					show_waiting_dialog();
					
 					$("#task-form").ajaxSubmit({
		                type: "post",
		                url: "/submit_task",
		                dataType: "json",
		                success: function(data){
		                	close_waiting_dialog();
		                	if(data.status == STATUS.PENDING){
		                		window.location.href="/show_task?taskid="+data["info"];
		                	}else{
		                		show_error_dialog("任务创建失败",
		                				"请检查任务信息是否完整且准确！");
		                	}
		                	
		                },
		                error: function(xhr, code, what){
		                	close_waiting_dialog();
	                		show_error_dialog("任务创建失败",
            						"服务器内部错误，请联系管理员！");
		                }
		            });  
		            return false;		
				});
			});
			
			{% include "js/utils.js" %}
			{% include "js/dialogs.js" %}
			
		</script>
		
	</body>
	
</html>