<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<style>
  		#blackboard{
  			width:640px;
  			height:480px;
  			background-color:black;
  			color:white;
  			border: solid 2px red;
  			overflow:auto
  		}
  	</style>
  
      <script>
      
        var s = new WebSocket("ws://{{server_name}}/{{taskid}}");
        
        s.onopen = function() {
    		var bb = document.getElementById('blackboard')
    		var html = bb.innerHTML;
    		bb.innerHTML = "连接到服务器...";        	
        };
        
        s.onmessage = function(e) {
    		var bb = document.getElementById('blackboard')
    		var html = bb.innerHTML;
    		bb.innerHTML = html + '<br/>' + e.data;
        };
        
    	s.onerror = function(e) {
        	alert(e);
    	};
    	
		s.onclose = function(e) {
		    alert("connection closed");
		};
        
      </script>
 </head>
<body>
    <h1>任务：{{title}}</h1>
	<div id="blackboard">
</div>
</body>
</html>